name: CI

on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: '3.10'
    - name: Run pre-commit hooks
      run: uv tool run --with pre-commit-uv pre-commit run --all-files --show-diff-on-failure --color=always
    - name: Install towncrier
      run: uv sync --only-group release
    - name: Run towncrier check
      if: (contains(github.event.pull_request.labels.*.name, '-changelog') == false) && (github.event.pull_request.base.ref != '')
      run: uv run towncrier check --compare-with origin/${{github.event.pull_request.base.ref}}
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v6
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --locked --group test
    - name: Run tests
      run: uv run pytest tests
