name: Lint & test

on:
  push:
    branches:
      - 'main'
      - 'master'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: '3.10'
    - name: Run pre-commit hooks
      uses: pre-commit/action@v3.0.0
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v6
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --locked --all-extras --dev
    - name: Run tests
      run: uv run pytest tests
